doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 'Update Page'
    body 
        h3 
            = prevContent 
        form(action='/update_list', method='post')
            input(type='text' name='newContent')
            input(type='hidden' name='prevContent' value=prevContent)
            input(type='submit' value='수정하기')